body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
	margin: 0;
	padding: 0;

}
header {
contain: layout;
	background-color: rgb(39, 146, 150);
	color: hsl(183, 88%, 46%);
	border: 20px;;
	display: flex;
	justify-content: space-around;
	align-items:flex-end;
	padding: 20px;
	background-image: url("headerpicturemidterm.jpg");
flex-wrap: inherit;
	
}
nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: rgb(32, 193, 201);
	text-decoration:wavy;
}

section {
	padding: 50px;
}

section h2 {
	margin-bottom: 20px;
	
}

ul {
	margin-left: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

img{
	
	float: left;
}

.selector{
	background-image:url(headerpicturemidterm.jpg) ;
	flex-flow: wrap;
}

header{
	border-width: 2px; border-style: groove;
}
.index-container {
	border: 2px solid #000000; 
	padding: 10px;
}