body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(39, 146, 150);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items:flex-end;
	padding: 20px;
	background-image: url("headerpicturemidterm.jpg");

	padding: 20px;

	
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

section {
	padding: 50px;
}

section h2 {
	margin-bottom: 30px;
}

ul {
	margin-left: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
}

img{
	
	float: left;
}

.selector{
	background-image:url(headerpicturemidterm.jpg) ;
	flex-flow: wrap;
}
